.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000; /* Make sure this is above everything else */
}

.modal-header {
  padding: 10px;
  color: rgb(0, 0, 0); /* Adjust text color as needed for contrast */
  text-align: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  padding: 20px;
  z-index: 1001; /* Above the overlay */
  border-radius: 8px;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

.modal-content {
  /* Styles for the modal content */
}
